<div class="counters">
   <div class="counter">
      <img src="@images/counter-icon-1.png" class="counter-icon" alt="counter-icon-1">
      <div class="counter-content" data-counter="3587">0</div>
   </div>
   <!-- end counter -->
   <div class="counter">
      <img src="@images/counter-icon-2.png" class="counter-icon" alt="counter-icon-2">
      <div class="counter-content" data-counter="207">0</div>
   </div>
   <!-- end counter -->
   <div class="counter">
      <img src="@images/counter-icon-3.png" class="counter-icon" alt="counter-icon-3">
      <div class="counter-content" data-counter="2500">0</div>
   </div>
   <!-- end counter -->
   <div class="counter">
      <img src="@images/counter-icon-4.png" class="counter-icon" alt="counter-icon-4">
      <div class="counter-content" data-counter="873">0</div>
   </div>
   <!-- end counter -->
</div>
<!-- end counters -->