<div class="social-list">
   <a href="#"><img src="@images/icon-social-1.png" class="social-icon" alt="icon-social-1"></a>
   <a href="#"><img src="@images/icon-social-2.png" class="social-icon" alt="icon-social-2"></a>
   <a href="#"><img src="@images/icon-social-3.png" class="social-icon" alt="icon-social-3"></a>
   <a href="#"><img src="@images/icon-social-4.png" class="social-icon" alt="icon-social-4"></a>
   <a href="#"><img src="@images/icon-social-5.png" class="social-icon" alt="icon-social-5"></a>
   <a href="#"><img src="@images/icon-social-6.png" class="social-icon" alt="icon-social-6"></a>
</div>
<!-- end social-list -->