.cards {
   display: grid;
   grid-template-columns: 1fr;
   
   @include mq(sm) {
      grid-template-columns: repeat(2, 1fr);
   }  
   @include mq(md) {
      grid-template-columns: repeat(3, 1fr);
   }   
}

.card {
   margin-bottom: 2rem;
   padding: 1rem;
   text-align: center;
}
