form {
	padding: 0.5rem 1rem;
	width: 400px;

	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url(loading.gif) center / 100px no-repeat;
		visibility: hidden;
	}
}

.form-sending::after {
	visibility: visible;
}

.form-field {
	width: 100%;
	padding: 0.7rem 1rem;
	margin-bottom: 10px;
	box-sizing: border-box;
	border: $border;
	border-radius: $border-radius;

	&:focus {
		outline: none;
		box-shadow: 1px 1px 5px rgb(0, 0, 0, 0.6);
	}
}

.form-label {
	display: block;
	margin-left: 0.5rem;
	margin-bottom: 0.5rem;
}

.form-radio,
.form-check {
	position: relative;
	top: 3px;
	width: 1.5rem;
	height: 1.5rem;
	cursor: pointer;

	&:focus {
		box-shadow: none;
	}
}

.form-textarea {
	width: 100%;
	max-width: 100%;
	min-height: 10rem;
	box-sizing: border-box;
	border-radius: $border-radius;
}

.error {
	outline: 1px solid red;
}
