.search-form {
   .form-field {
      width: 300px;
      border-radius: 15px;
   }
   .button {
      padding: 0.7rem 1rem;
      margin-left: 1rem;
      text-transform: none;
      border-radius: 15px;
   }
}
