.page {
	height: 100%;
	margin: 0 auto;
	font-size: $font-size-base;
}

.container {
	width: 100%;
	margin: 0 auto;
	padding: 0 1rem;
	box-sizing: border-box;

	@include mq(md) {
		max-width: map_get($content-width, md);
	}

	@include mq(lg) {
		max-width: map_get($content-width, lg);
	}

	@include mq(xl) {
		max-width: map_get($content-width, xl);
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
}

.title {
   margin-bottom: 1.5rem;   
   color: $primary-color;
   font-weight: bold;
}

.subtitle {
   margin-bottom: 1.2rem;
   color: lighten($text-color, 20%);
   font-weight: normal;
}

.section-title {
	margin-bottom: 1.5rem;
	font-family: $font-family-secondary;
	text-align: center;
	font-weight: 600;
	color: $secondary-color;
}

.section-subtitle {	
	margin: 0 0 1rem 2rem;
	text-align: center;
	font-weight: 400;
	color: $secondary-color;
}

.flex-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}